.token-grid {
  border: solid 1px var(--cnvs-sys-color-border-divider);
  border-radius: 0.5rem;
  display: grid;
  min-width: 62.5rem;
  max-width: 80rem;
  overflow-x: auto;
}

.token-grid__caption {
  border-bottom: solid 0.0625rem var(--cnvs-sys-color-border-divider);
  display: flex;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

.token-grid__head {
  background-color: var(--cnvs-sys-color-bg-alt-softer);
  display: grid;
}

.token-grid__head-item {
  display: grid;
  color: var(--cnvs-sys-color-text-default);
  align-items: center;
  justify-content: start;
  font-weight: var(--cnvs-base-font-weight-700);
}

.token-grid__row {
  align-items: center;
  border-bottom: solid 0.0625rem var(--cnvs-sys-color-border-divider);
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  min-height: 4rem;
  padding: 1rem;
  justify-content: start;
}

.token-grid__body .token-grid__row:last-of-type {
  border-bottom: none;
}

.token-grid__row-item {
  align-items: start;
  display: grid;
  font-family: var(--cnvs-base-font-family-100);
  gap: 0.25rem;
  justify-self: start;
}

.token-grid__swatch {
  display: grid;
  grid-template-columns: minmax(2rem, 8rem);
  height: 2rem;
  padding: 0.5rem;
  border: 0.0625rem solid var(--cnvs-sys-color-border-divider);
}

.token-grid__sample {
  background-color: var(--cnvs-sys-color-bg-default);
  display: grid;
  grid-template-columns: minmax(2rem, 8rem);
  height: 2rem;
  width: 2rem;
}

.token-grid__monospace-label {
  background-color: var(--cnvs-sys-color-bg-primary-softest);
  color: var(--cnvs-sys-color-fg-primary-default);
  font-family: var(--cnvs-base-font-family-100);
  padding: 0.25rem;
  border-radius: 0.25rem;
  min-height: 1rem;
}

.token-grid__deprecate-monospace-label {
  background-color: var(--cnvs-sys-color-bg-critical-softest);
  color: var(--cnvs-sys-color-fg-critical-default);
}
