.status-indicator {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  border-radius: var(--cnvs-sys-shape-round);
}

.status-indicator-icon {
  width: 14px;
  height: 14px;
}

.status-indicator-icon path {
  fill: currentColor;
}

.status-indicator-content {
  font-weight: 600;
}
