# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
docs
*/canvas-tokens-web/css
*/canvas-tokens-web/less
*/canvas-tokens-web/scss
tmp
/out-tsc
*.tsbuildinfo

# dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
existing-tokens.json

# Keys
.env

# Storybook
build-storybook.log
