.nav-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--cnvs-sys-color-bg-default);
  border: 1px solid var(--cnvs-sys-color-border-divider);
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--cnvs-sys-font-family-default);
  padding: 16px;
  margin-bottom: 24px;
  width: fit-content;
  min-width: 380px;
  text-decoration: none;
}

.nav-card:visited {
  color: var(--cnvs-sys-color-text-default);
}

.nav-card:hover {
  background-color: var(--cnvs-sys-color-bg-alt-softer);
  border-color: var(--cnvs-sys-color-border-container);
}

.nav-card-header {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-card:hover .nav-card-header {
  gap: 16px;
}

.nav-card-description {
  font-size: 14px;
}
